---
name: test
on: workflow_call

jobs:
  test:
    runs-on: ubuntu-latest
    permissions: {}
    timeout-minutes: 20
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false
      - uses: actions/setup-go@0aaccfd150d50ccaeb58ebd88d36e91967a5f35b # v5.4.0
        with:
          go-version-file: go.mod
      - uses: aquaproj/aqua-installer@e2d0136abcf70b7a2f6f505720640750557c4b33 # v3.1.1
        with:
          aqua_version: v2.45.1
        env:
          AQUA_GITHUB_TOKEN: ${{github.token}}
      - run: rm "$(aqua root-dir)/bin/pinact"
      - run: golangci-lint run --timeout 120s
        env:
          AQUA_GITHUB_TOKEN: ${{github.token}}
      - run: go test -v ./... -race -covermode=atomic
      - run: go install ./cmd/pinact
      - run: pinact -v
      - run: pinact run testdata/foo.yaml
        env:
          GITHUB_TOKEN: ${{github.token}}
      - run: diff testdata/foo.yaml testdata/foo.yaml.after
      - run: pinact run
        working-directory: testdata/actions
        env:
          GITHUB_TOKEN: ${{github.token}}
      - run: diff -r testdata/actions testdata/actions.after

      - run: pinact run -u
        env:
          GITHUB_TOKEN: ${{github.token}}
