---
name: test (workflow_call)
on: workflow_call
permissions: {}
jobs:
  integration-test:
    uses: ./.github/workflows/workflow_call_integration_test.yaml
    permissions: {}

  test:
    uses: suzuki-shunsuke/go-test-full-workflow/.github/workflows/test.yaml@596bc52a7f02dd896d3351e61e4dfa661c1f3304 # v5.0.1
    with:
      aqua_version: v2.55.0
      golangci-lint-timeout: 120s
    permissions:
      pull-requests: write
      contents: read
